body{
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'Feija';
    src: url('resources/test-feijoa-display.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

  
h1{
    font-family: 'Feija', serif;
    size: 56px;
    line-height: 61.6px;
}
h2{
    font-family: "Feija", serif;
    size: 48px;
    line-height: 52.8px;
}
h3{
    font-family: "Feija", serif;
    size: 40px;
    line-height: 44px;
}
h4{
    font-family: "Feija", serif;
    size: 32px;
    line-height: 35.2px;
}
h5{
    font-family: "Feija", serif;
    size: 24px;
    line-height: 26.4px;
}
h6{
    font-family: "Feija", serif;
    size: 20px;
    line-height: 22px;
}



/* Define colors and typography */
:root {
    --color-primary: #F27238;

    --color-secondary: #536681;
    --color-secondary-dark:  #3A3F48;

    --black: #000;
    --colour-border: #E4DEDC;
    --colour-grey-2: #0000;
    --color-background: #F6F6F6;
    --white:#fff;

    --colour-success: #000;
    --colour-warning: #000;
    --color-error: #F84444;

    /* typography */
    --color-text: var(--color-secondary-dark);
    --color-text-heading: var(--color-primary);
    --color-text-subtle: var(--color-secondary);
    --color-text-link: var(--color-secondary);
    --color-text-visited: var(--color-secondary-dark);

    /* border */
    --color-border: var(--color-border);

    /* body */
    --color-body: var(--color-background);

    /* forms */
    --form-element-border: var(--color-border);
    --form-element-border-focus: var(--colour-grey-2);
    --form-element-border-error: var(--color-error);
    --form-element-bg: var(--white);
    --form-text-placeholder: var(--colour-grey-2);

    /* buttons */
    --bt-primary-bg: var(--color-secondary-dark);
    --bt-primary-hover: var(--color-secondary);
    --bt-primary-active: var(--color-secondary-dark);
    --bt-primary-label: var(--white);

    /* icons */
    --colour-icon-primary: var(--color-secondary-dark);

    /* fonts */
    --font-primary: 'Feija';
    --font-secondary: 'Inter';
    --text-base-sixe: 1rem;

    /* Type scale */  
	--text-scal-ratio: 1.2;  
	--text-xs: calc(1rem / (var(--text-scal-ratio) * var(--text-scal-ratio)));  
	--text-sm: calc(1rem / var(--text-scal-ratio));  
	--text-md: calc(1rem * var(--text-scal-ratio));  
	--text-lg: calc(1rem * var(--text-scal-ratio) * var(--text-scal-ratio));  
	--text-xl: calc(1rem * var(--text-scal-ratio) * var(--text-scal-ratio) *  
	var(--text-scal-ratioo));  
	--text-xxl: calc(1rem * var(--text-scal-ratio) * var(--text-scal-ratio) *  
	var(--text-scal-ratio) * var(--text-scal-ratio));  
	--text-xxxl: calc(1rem * var(--text-scal-ratio) * var(--text-scal-ratio) *  
	var(--text-scal-ratio) * var(--text-scal-ratio) *  
	var(--text-scal-ratio)); 

    /* Spacing */  
    --space-xxxs: 0.25em;  
    --space-xxs: 0.375em;  
    --space-xs: 0.5em;  
    --space-sm: 0.75em;  
    --space-md: 1.25em;  
    --space-lg: 2em;  
    --space-xl: 3.25em;  
    --space-xxl: 5.25em;  
    --space-xxxl: 8.5em;

}


/* Media query for iPhone 12 Pro */
@media only screen and (max-width: 390px) {
    h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    p {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}

/* Media query for Surface Pro 7 */
@media only screen and (min-width: 390px) and (max-width: 1368px) {
    h1 {
        font-size: 36px; /* Adjust font size for larger screens */
    }

    p {
        font-size: 20px; /* Adjust font size for larger screens */
    }
}

body{
    background-color: var(--color-background);
}

h1, h2, h3 {
    color: #fff; /* white text color */
    font: var(--font-primary);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header > * {
    margin: 0.5rem;
}
.header--end-aligned{
    align-items: flex-end;
}

.product-card {
    width: 162px;
    height: 280px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.product-image {
    width: 140.86px;
    height: 120px;
    left: 11.14px;
    top: 12px;
    position: absolute;
    border-radius: 12px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.product-name {
    color: var(--color-secondary-dark);
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 130px;
}

.product-description {
    color: var(--color-secondary);
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 19.6px;
    margin-bottom: var(--space-xs);
    margin-top: -5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-price {
    color: var(--color-primary);
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    text-align: right;
}

.stack{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    gap: 1em;
    align-items: center;
}

.footer > * {
    background-color: #536681;
    color: white;
    margin: 1em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-xxxs);
}

.image-container {
    width: 600px;
    height: 425px;
    position: relative;
    overflow: hidden; /* Ensure the image does not overflow the container */
    border-radius: var(--space-xxxs);
}

.image-container img {
    width: 100%; /* Make the image fill the width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper layout */
    border-radius: var(--space-xxxs);
}

.image-container .placeholder,
.thumbnails .thumbnail .placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: var(--space-xxxs);
}

.thumbnails {
    width: 325px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.thumbnail {
    width: 100px;
    height: 62px;
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: auto;
    position: absolute;
    border-radius: 4px;
}

.thumbnail.low-opacity img {
    opacity: 0.5; /* Set opacity to 50% for thumbnails with low-opacity class */
}

/** code for decription **/
.product-details {
    width: 1164px;
    height: 696px;
    position: absolute;
    left: 174px;
    top: 181px;
}

.description {
    width: 600px;
    height: 92px;
    position: absolute;
    left: 0;
    top: 604px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    color: var(--color-secondary);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 25.20px;
    word-wrap: break-word;
}

.price {
    position: absolute;
    left: 929px;
    top: 227px;
    text-align: right;
    color: #F27238;
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
}

.amount {
    font-size: 40px;
}

.tax {
    left: 1104px;
    top: 238px;
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.40px;
}

.brand {
    left: 664px;
    top: 57px;
    color: var(--color-secondary);
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: 28px;
}

.back-to-shopping {
    width: 153px;
    height: 17px;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-secondary);
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22.40px;
}

.arrow {
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-line {
    width: 8.50px;
    height: 4.25px;
    border: 1px var(--color-secondary) solid;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.title {
    width: 500px;
    left: 664px;
    top: 85px;
    color: var(--color-primary);
    font-size: 48px;
    font-family: Test Feijoa Display;
    font-weight: 900;
    line-height: 52.80px;
}

.quantity {
    width: 168px;
    height: 23px;
    left: 664px;
    top: 295px;
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
