/* Header Styles */
header {
  grid-column: 1/-1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}

.inner_header {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.menu-button{
  height: 24px;
  display: none;
}

.logo-header-desktop {
  height: 30px;

}
.logo-header-mobile {
  display: none;
}

.logo {
  height: 30px;
}

.nav_header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_header li {
  margin-left: 30px;
}

.nav_header a {
  color: var(--color-secondary-dark);
  text-decoration: none;
  font-size: 18px;
}

.search-button {
  height: 20px;
}

.cart-button {
height: 20px;
}

/* Media query for iPhone 12 Pro */
@media only screen and (max-width: 390px) {
  .menu-button {
    display: flex;
  }

  header {
    background-color: var(--color-secondary-dark);
  }
  .inner_header {
    grid-template-columns: 1fr 7fr 1fr;
  }
  .logo_header_desktop {
    display: none;
  }
  .logo{
    display: none;
  }
  .logo-header-mobile {
    display:flex;
    text-decoration: none;
    color: black;
  }
  .logo-text{
    display: flex;
  }
  .home, .shop, .about-us, .contact{
    display: none;
  }
  .cart-button, .search-button{
    height: 24px;
  }
}
