.page1 {
    display: grid;
    grid-template-columns: 2fr 7fr 1fr 6fr 2fr;
    grid-template-rows: 1fr 1fr 10fr 1fr 3fr;
    height: 100vh;
  }
  
  .header {
    grid-column: 2/span 3;
    background-color: blue;
  }
  
  .back-to-shopping {
    grid-column: 2/ span 1;
    grid-row: 2;
    background-color: red;
  }
  
  .product-image-options {
    grid-column: 2/ span 1;
    grid-row: 3;
    background-color: green;
  }
  
  .product-description {
    grid-column: 2/ span 1;
    grid-row: 4;
    background-color: yellow;
  }
  
  .product-information {
    grid-column: 4/ span 1;
    grid-row: 3;
    background-color: purple;
  }
  
  .footer {
    grid-column: 2/ span 3;
    grid-row: 5;
    background-color: pink;
  }