/* Stylesheets - colour, typography and main layout*/
@import url("colours.css");
@import url("typography.css");
@import url("layout.css");

/* Layout for the body of all Checkout Pages */
#checkout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    align-items: flex-start;
}

/* Header Styles */
#checkout-grid h1 {
    grid-column: 1 / -1;
    grid-row: 1;
    padding-left: 11vh;
}

/* Progress Bar Styles */
#checkout-progress {
    display: flex;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    height: 4vh;
    padding-bottom: 5vh;
}

/* Form Styles */
#checkout-grid form {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    width: 100%;
    max-width: 100%;
}

#checkout-grid form label {
    display: flex;
    align-items: center;
    gap: 1vh;
    color: var(--color-secondary-dark);
    font-size: 14px;
    font-family: var(--font-secondary);
    font-weight: 400;
    line-height: 22.4px;
    width: 100%;
    box-sizing: border-box;
}

#checkout-grid form input[type="text"] {
    display: block;
    width: 100%;
    padding: 1.5vh;
    background: var(--white);
    border: 1px solid var(--color-border);
    border-radius: 0.75rem;
    color: var(--color-secondary);
    font-size: 1rem;
    font-family: var(--font-secondary);
    font-weight: 400;
    line-height: 1.5rem;
    box-sizing: border-box;
}

#checkout-grid form h8 {
    font-weight: 700;
    color: var(--color-secondary-dark);
}

/* Row and Column Styles for Form */
#checkout-grid .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

#checkout-grid .col-45 {
    flex: 0 0 45%;
    max-width: 45%;
    padding-bottom: 2vh;
    box-sizing: border-box;
}

/* Checkout Confirmation Edit Styles */
.checkout-container, .checkout-edit {
    width: 100%;
    position: relative;
}

.checkout-edit {
    height: auto;
}

.delivery-title {
    width: 100%;
    font-size: 1.125rem;
    margin: 0;
}

hr {
    border: 1px solid var(--color-border);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-icon {
    width: 2.5vh;
    height: 2.5vh;
}

.payment-details {
    margin-bottom: 1vh;
}

.checkout-text {
    font-size: 1rem;
    color: var(--color-secondary);
    margin: 0.5vh 0;
}

.order-summary h2 {
    line-height: 7vh;
    margin-bottom: -0.5vh;
}

/* Thank you Image */
.thank-you-image {
    align-self: center;
    margin: 10vh 0;
    max-width: 24vh;
}

.primary-btn{
    margin-bottom: 3vh;
}

/* Responsive Styles for Mobile - Checkout Page Structures */
@media only screen and (max-width: 390px) {
    #checkout-grid h1 {
        justify-self: center;
        padding-left: 0;
    }
    #checkout-grid form {
        justify-self: center;
        align-items: center;
        width: 90%;
    }
    #checkout-grid {
        grid-template-rows: 2fr auto auto 1fr;
    }
}