/* Import colors.css */
@import url("colours.css");


/* Font Families */
@font-face {
    font-family: 'Feija';
    src: url('../res/test-feijoa-display.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../res/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Typography */
:root {
    --font-primary: 'Feija', serif;
    --font-secondary: 'Inter', Poppins, sans-serif;
}

/* Headings Font and Colours */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--color-text-heading);
}

/* Headings Sizing */
html {
    font-size: 16px; /* 1rem = 16px */
}

h1 { font-size: 2rem; line-height: 1.4; } /* Equivalent to 32px */
h2 { font-size: 1.5rem; line-height: 1.4; }  /* Equivalent to 24px */
h3 { font-size: 1.25rem; line-height: 1.4; } /* Equivalent to 20px */
h4 { font-size: 1rem; line-height: 1.4; } /* Equivalent to 16px */
h5 { font-size: 0.75rem; line-height: 1.4; } /* Equivalent to 12px */
h6 { font-size: 0.5rem; line-height: 1.4; } /* Equivalent to 8px */


/* Additional Heading Styles */
h7, h8, h9 {
    font-family: var(--font-secondary);
    color: var(--color-secondary-dark);
}

/* Additional Heading Sizing */
h7 { font-size: 1.25rem; line-height: 1.4; }
h8 { font-size: 1rem; line-height: 1.4; }
h9 { font-size: 0.875rem; line-height: 1.4; }

/* Paragraphs */
p { 
    font-family: var(--font-secondary); 
    color: var(--color-text);
    font-size: 1rem;
}

/* Font Sizes for Paragraphs */
#small-text {
    font-size: 14px;
}

#normal-text {
    font-size: 16px;
}

#medium-text {
    font-size: 18px;
}

#large-text {
    font-size: 20px;
}

/* Links */
a { 
    font-family: var(--font-secondary); 
    color: var(--color-text-link);
    font-size: 1rem;
}

/* Visited Links */
a:visited {
    color: var(--color-text-visited);
}